/*****  大数据第一批第一个应用   ******/
/*****  修改ivew原有样式   ******/
.ivu-btn {
  border-radius: 2px;
  padding: 4px 13px;
}

.ivu-btn-large {
  padding: 4px 15px 5px 15px;
}

.ivu-upload {
  display: inline-block;
  width: 50%;
}

.ivu-upload-list {
  display: none;
}

.ivu-spin-show-text .ivu-spin-text {
  font-size: 16px;
}

.loadIcon {
  font-size: 50px !important;
}

.ivu-modal {
  top: 0;
}

.ivu-modal-header-inner {
  font-size: 15px;
}

.ivu-modal-body h3 {
  margin: 10px 0 5px 0;
}

.ivu-modal-body p {
  line-height: 22px;
}

/*****  通用样式   ******/
.redborder {
  border: 1px solid red;
}

/*.constWidth {*/
  /*min-width: 1260px;*/
/*}*/

.redtext {
  color: #ff3300;
}

.bluetext {
  color: #3399ff;
}

.fontsize12 {
  font-size: 12px;
}

.hide {
  display: none;
}

.mgleft68 {
  margin-left: 68px;
}

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ivu-modal {
  top: 0;
}


.tabHide .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  font-size: 12px;
  padding: 5px 5px 4px;
  margin-right: 3px;
}

.overHeight .ivu-modal-body {
  height: 500px;
  overflow-y: scroll;
}

.pageBox {
  padding: 10px;
  overflow: hidden;
}

.floatRight {
  float: right
}

.exportBtnBox {
  margin-top: 10px;
  display: flex;
  text-align: left;
  align-items: center;
  margin-left: 10px;
}

/*****  头部logo   ******/
header {
  background: #2a3348 url(../img/dsjLogo.png) no-repeat 12px 10px;
  width: 100%;
  height: 60px;
  display: none;
}

.infoTitle {
  border-bottom: 1px solid #e3e8ee;
  padding: 20px 24px;
  line-height: 1;
  font-size: 16px;
  color: #464c5b;
}

/*****  主页面   ******/
.mainBox {
  padding: 10px;
}

.lookInfo {
  display: inline-block;
  margin-top: -5px;
  /*margin-bottom: 6px;*/
  font-size: 14px;
  color: #39f;
  text-decoration: underline;
  cursor: pointer;
}

.mainBox .ivu-form-item-content {
  margin-left: 0 !important;
}

.mainBox .ivu-btn-primary {
  margin-right: 10px;
}

.mainBox .ivu-table-wrapper {
  height: 593px !important;
}

.mainBox .ivu-table-body {
  height: 550px !important;
}

.mainBox .ivu-table-fixed-body {
  height: 550px !important;
}

.oaBox .ivu-table-wrapper {
  height: 494px !important;
}

.oaBox .ivu-table-body {
  height: 454px !important;
}

.oaBox .ivu-table-fixed-body {
  height: 454px !important;
}

.infoRightCard .ivu-card-body {
  padding-bottom: 0px;
}

.listlength {
  font-size: 12px;
  margin-bottom: 5px;
  float: left;
}

.uploadBox {
  margin-top: 5px;
  margin-bottom: 5px;
}

.uploadBox button {
  width: 100px;
}

.cxBox {
  overflow: hidden
}

.cxBox button {
  float: right;
  width: 80px;
}

.showrow .ivu-input {
  color: #3399ff;
}

.zqradio {
  width: 100%;
}

.zqradio .ivu-radio-wrapper {
  font-size: 13px;
  margin: 5px 0;
}

.zqradio .ivu-row p {
  font-size: 14px;
}

.zqradio .ivu-checkbox-group-item {
  margin-bottom: 10px;
  font-size: 13px;
}

.zqradio .ivu-row .zqCodeTip {
  color: #f30;
  font-size: 12px;
  margin: 4px 0 6px 0;
}

/*****  说明页面   ******/
.infoBox {
  padding: 3% 10% 0 10%;
}

.infoBox .ivu-card-head {
  background: #d7dde4;
}

.infoBox h3 {
  text-align: center;
}

.infoBox h4:not(:first-of-type) {
  margin-top: 10px;
}

.infoBox p {
  text-indent: 30px;
  line-height: 30px;
}

/*****  大数据第一批第二个应用   ******/
/*****  头部   ******/
.titleBox {
  position: relative;
}

.titleBox button {
  width: 26px;
  height: 26px;
  background: #f43d52;
  color: #fff;
  border-radius: 50%;
  display: block;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 16px;
  right: 40px;
  z-index: 2;
  border: none;
}

.titleBox h2 {
  padding-left: 36px;
}

/*****  查询框   ******/
.searchAccountBox {
  padding: 0% 4% 0% 6%;
}

.searchAccountBox .ivu-upload {
  width: 60px;
}

.searchAccountBox .ivu-form-item-error-tip {
  top: 5px;
  right: -100px;
  left: initial;
}

.searchAccountBox .ivu-form-item {
  margin-bottom: 10px;
}

.searchAccountBox .ivu-form-item:last-of-type {
  margin-bottom: 0px;
}

.dealForm {
  margin-top: 10px;
}

.dealForm b {
  font-size: 14px;
}

.dealForm .dateBox .ivu-form-item {
  display: inline-block;
}

.dealForm .dateBox b {
  line-height: 32px;
}

.dealForm .dateBox .ivu-form-item-content {
  margin-left: 10px !important;
}

.dealForm .uploadBox {
  margin-bottom: 10px;
}

.uploadLeft b {
  margin-right: 10px;
}

.uploadLeft .ivu-upload {
  margin-right: 10px;
}

.leftp {
  margin-left: 10px;
  width: 116px;
  display: inline-block;
}

.inputAccount {
  width: 430px;
}

.inputAccount .ivu-form-item-content {
  margin-left: 68px !important;
}

.rightRadioBox {
  margin: 10px 0;
}

.dealradio {
  margin-left: 10px;
}

.rightRadioBox .ivu-radio-wrapper {
  font-size: 14px;
  margin-right: 35px;
}

.searchDealBtn {
  width: 100px !important;
  margin-right: 14%;
  margin-top: 10px;
}

.zqdmUpload .ivu-upload {
  margin-right: 10px;
}

.rightp {
  margin: 8px 0 5px 10px;
  width: 112px;
  display: inline-block;
}

.dealCheckbox .ivu-checkbox-wrapper {
  margin-right: 50px;
  font-size: 14px;
  margin-top: 10px;
}

/*****  无数据提示   ******/
.sorryBox {
  text-align: center;
  padding: 6%;
  margin-top: 20px;
}

.sorryBox img {
  width: 26%;
}

.sorryBox h3 {
  color: #347e88;
  font-size: 24px;
  margin-top: 20px;
  font-weight: initial;
}

/*****  查询框折叠面板   ******/
.dealPanel .uploadBox button {
  width: 60px;
}

.dealPanel .ivu-collapse-header {
  font-weight: 700;
  border-bottom: 1px solid #e3e8ee;
  padding: 20px 24px 22px 17px;
  line-height: 120% !important;
  font-size: 20px;
  color: rgba(0,0,0,0.85) !important;
  height: initial !important;
}
.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header{
  padding-left: 25px !important;
}

.dealPanel .ivu-icon-arrow-right-b {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 2;
  background: #f43d52;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.dealPanel .ivu-icon-arrow-right-b:before {
  content: "〈";
  color: #fff;
  font-size: 20px;
  position: relative;
  left: -2px;
  top: 2px;
}

.dealPanel .ivu-collapse-header > i {
  transform: rotate(-90deg);
}

/*****  查询结果框   ******/
/*****  维度运算   ******/
.wdcalBox {
  padding: 20px 80px;
  border-top: 1px solid #e3e8ee;
  border-bottom: 1px solid #e3e8ee;
}

.wdcalBox .ivu-card {
  height: 200px;
}

.wdcalBox > .ivu-row > .ivu-col {
  padding-right: 30px;
}

.calbtnBox {
  margin-top: 20px;
  padding-right: 30px;
}

.wdcalBtn {
  float: right;
}

.sumcheckBox .ivu-checkbox-wrapper {
  font-size: 14px;
  margin-bottom: 10px;
}

.sumcheckBox .ivu-checkbox-wrapper .ivu-checkbox {
  margin-right: 10px;
}

.dlBox .ivu-card-body {
  padding: 10px 0;
}

.dlBox .ivu-card-body > div {
  padding: 0 20px;
}

.dlBox .ivu-card-body .ivu-checkbox-group {
  height: 86px;
  overflow-y: scroll;
}

.dlBox .ivu-card-body .ivu-checkbox-wrapper {
  font-size: 14px;
}

.dlBox .ivu-card-body .ivu-checkbox-group-item {
  margin-bottom: 10px;
}

.dlBox .ivu-card-body .ivu-checkbox {
  margin-right: 10px;
}

.dlBox .ivu-checkbox-wrapper-disabled {
  color: #ccc;
}

.dlBox .ivu-checkbox-wrapper-disabled .ivu-checkbox-inner {
  border-color: #d7dde4;
  background-color: #f3f3f3;
}

.wdBox .ivu-card-body {
  height: 148px;
  overflow-y: scroll;
  padding: 13px 16px;
}

.wdBox .ivu-radio-group {
  float: right;
}

.wdBox .ivu-radio-group .ivu-radio-wrapper {
  font-size: 14px;
}

.wdBox .ivu-card-body .ivu-checkbox-group-item {
  margin-bottom: 1px;
}

.wdBox .ivu-checkbox-wrapper {
  font-size: 14px;
}

.ysdlBox .ivu-card-body {
  padding: 0;
}

.ysdlBox .ivu-tabs-bar {
  width: 88px;
  float: left;
  border-bottom: none;
  border-right: 1px solid #e3e8ee;
  height: 248px;
  margin-bottom: 0px;
}

.ysdlBox .ivu-tabs-nav .ivu-tabs-tab {
  display: block;
  margin-right: 0x;
}

.ysdlBox .ivu-tabs-nav .ivu-tabs-tab-active {
  background: rgb(230, 244, 250);
}

.ysdlBox .ivu-tabs-ink-bar {
  display: none !important;
}

.ysdlBox .ivu-checkbox-group {
  height: 208px;
  overflow-y: scroll;
  padding-left: 10px;
  border-top: 1px solid #e9e9e9;
  padding-top: 10px;
}

.ysdlBox .ivu-checkbox-group-item {
  margin-bottom: 10px;
  margin-right: 0px;
}

.ysdlBox .addallpm .ivu-checkbox-wrapper {
  margin-left: 10px;
  margin-top: 10px;
}

.ysdlBox .addblInput > div {
  padding: 10px;
}

.ysdlBox .addblInput > button {
  margin: 10px;
}

.ysdlBox .addblInput .ivu-select-dropdown-list:nth-of-type(1) {
  margin-bottom: 40px;
}

.ysdlBox .addblInput .ivu-select-dropdown-list:nth-of-type(2) {
  margin-bottom: 120px;
}

/*****  数据表格   ******/
.dataTable {
  padding: 20px 60px;
}

.dealExport {
  text-align: center;
}

.dealExport button {
  margin-right: 10px;
}

.dataTable .ivu-table-body {
  height: 376px;
}

.dataTable .ivu-table-fixed-body {
  height: 376px;
}

/*****  表格没有数据 ivu-table-tip   ******/
.dataTable .ivu-table-tip {
  height: 376px;
}

.dataTable .ivu-table-tip td {
  height: 376px;
}

/*****  加载中   ******/
.loadIcon {
  animation: ani-demo-spin 1s linear infinite;
}

.loadBox {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 6;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3)
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*****  返回按钮   ******/
.backBtn {
  display: block;
  text-align: center;
  margin-top: 10px;
}

/*****  大数据第二批   ******/
.proCalBtnBox .ivu-upload {
  width: 80px;
}

.proCalBtnBox button {
  width: 60px;
}

.proCalBtnBox button.uploadExcel {
  width: 80px;
}

.changeBox .ivu-table-wrapper {
  height: 560px !important;
}

.changeBox .ivu-table-body {
  height: 518px !important;
}

.changeBox .ivu-table-fixed-body {
  height: 518px !important;
}

.queryBox .ivu-table-wrapper {
  height: 517px !important;
}

.queryBox .ivu-table-body {
  height: 475px !important;
}

.queryBox .ivu-table-fixed-body {
  height: 475px !important;
}

.procalList {
  margin-top: 20px;
}

.procalList p {
  margin-bottom: 10px;
}

.inoutCalBox {
  margin-top: 20px;
}

.inoutCalBox .ivu-tabs-content {
  padding: 0 10px;
}

.inoutBtnBox {
  text-align: right;
  padding-top: 20px;
}

.noscrollTabs .ivu-tabs-nav-container {
  white-space: initial;
  height: 74px !important;
}

.noscrollTabs .ivu-tabs-nav-scroll {
  white-space: initial;
}

.noscrollTabs .ivu-tabs-tab {
  margin-bottom: 10px !important;
}

/*****  显示隐藏bar   ******/
.showHideBar {
  width: 15px;
  height: 140px;
  margin-top: -70px;
  background-color: rgba(51, 153, 255, .2);
  border: 1px solid rgba(51, 153, 255, .3);
  position: absolute;
  top: 50%;
  right: -5px;
  z-index: 2;
  border-radius: 3px;
  cursor: pointer;
}

.showHideBar .rightArrow {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid #39f;
  display: block;
  margin-top: 65px;
  margin-left: 4px;
}

.showHideBar .leftArrow {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 8px solid #39f;
  display: block;
  margin-top: 65px;
  margin-left: 4px;
}

/*****  先进先出表格高度   ******/
.inoutTable {
  height: 592px !important;
}

.inoutTable2 {
  height: 592px !important;
}

.inoutTable3 {
  height: 550px !important;
}

/*****  应用三期页面样式   ******/



/*第四批*/
.ivu-collapse-content{
  overflow: inherit !important;
  padding-left: 18px;
}
.ivu-collapse-content>.ivu-collapse-content-box {
  /*padding-top: 0px;*/
  padding-bottom: 0 !important;
}
.submitBtnBox{
  align-items: center;
  margin-left: 36px;
}
.tableBox{
  padding: 16px 30px;
}
.flexBox{
  display: flex;
  flex-wrap: wrap;
}

#lookInfoLink{
  color: gray !important;
  border: 1px solid lightgray !important;
  padding: 3px 12px !important;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 48px !important;
}
.pageModule{
  float: right;
  width: inherit;
}
.moreBtn{
  color: #2db7f5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 36px;
  margin-top: 0px;
}
.el-tabs--bottom .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs__item:nth-child(2) {
   padding-left: 20px !important;
}
